.navbar {
  background-color: rgb(201, 30, 30);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar h4 {
  color: #fff;
}
.navbar a {
  text-decoration: none;
}
